$base-color: #3abdff;
$lighter:  #8ad8ff;
$light: #bee7fc;
$extralight: #dff4fd;
$darker: #2db8fd;
$dark: #0091d4;

@import "elementui.scss";
@import 'reset-css/sass/reset';
@import "generic.scss";
@import "layout.scss";

