html, body {
    padding: 0px;
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;

    header {
        display:flex;
        flex-direction: row;
        justify-content: end;

        .version {
            font-style: italic;
        }
    }
}

.disclosed {
    .el-form-item__content {
        flex-direction: column;
        align-content: start;
        align-items: flex-start;

        table tr td {
            padding: 2px 5px;
        }
    }
}

.requests {
    .el-form-item__content {
        div {
            width: 100%;

            pre {
                line-height: 1.1em;
                font-family: 'Courier New', Courier, monospace;
                padding-bottom: 20px;
            }

        }
        div:nth-child(even) {
            background-color: #ccc;
        }
    }
}